@import url("https://fonts.googleapis.com/css2?family=Chicle&family=Comic+Relief:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(45deg,  #f8f04d, #ff7189, #e65656);
  transition: 0.3s ease;
  background-attachment: fixed;
  font-family: "Comic Relief", system-ui;
  color: rgb(67, 75, 88);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.dark {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
  linear-gradient(45deg,  #f8f04d, #ff7189, #e65656);
}
#toggle-tema {
  position: absolute;
  margin: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 95%;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #f8f393;
}
section {
  max-width: 450px; 
  width: 90%;
  margin: 90px auto;
  border: 5px solid white;
  border-radius: 20% 5%;
  padding: 30px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  font-size: 40px;
  font-weight: 600;
  padding: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-shadow: 4px 0 0 #eb6666;
}

.usoemail {
  border: none;
  padding: 10px 30px;
  margin-bottom: 20px;
  border-radius: 20px;
  font-family: "Comic Relief", system-ui;
  color: rgb(67, 75, 88);
  font-size: 15px;
}

.senha {
  border: none;
  padding: 10px 30px;
  margin-bottom: 20px;
  border-radius: 20px;
  font-family: "Comic Relief", system-ui;
  color: rgb(67, 75, 88);
  font-size: 15px;
}

.actions-container {
  display: flex;
  gap: 30px 10px;
  font-size: 12px;
}

#entrar {
  border: none;
  padding: 10px 30px;
  margin-top: 50px;
  font-size: 15px;
  border-radius: 40px;
  font-family: "Comic Relief", system-ui;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: #eb6666;
  transition: background-color 0.2s ease, color 0.2s ease;
}

#entrar:hover {
  background-color: #f7b3be;
}

.inscrever {
  font-size: 15px;
  margin-top: 40px;
}

footer {
  text-align: center;
}

 @media screen and (max-width: 600px){

#toggle-tema {
  margin-left: 80%;
  margin-top: 150px;
}

section {
  max-width: 400px; 
  width: 90%;
  margin: 50% auto;
  padding: 30px;

}


  
 }

